.card {
    background: transparent;
}
h4.card-title {
    color: white;
}
.card-body {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 30px 25px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.table thead tr {
    background: linear-gradient(to right, #4FB23F, #409C39);
    color: white!important;
}
.table thead tr th{
    color: white!important;
}

.table tr, th, td{
    border:solid #1a1a1a 0.5px;
}

.table td{
   color:white;
}
.table tbody tr:last-child td{
    border-right:solid black 1px;
}
td.rowBtn button {
    background: transparent;
    color: black;
    border: none;
}
button.green.btn.btn-primary {
    color: green;
}
button.red.btn.btn-primary {
    color: red;
}

td.rowBtn button:hover {
    background: transparent;
    color: black;
    border: none;
}
button.red.btn.btn-primary {
    color: red;
}
td.newRow button {
    background: transparent;
    border: none;
}
td.newRow button:hover {
    background: transparent;
    border: none;
}
.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rowBtnn{
    display: flex;
    flex-direction: column;
}

.redBtn{
    background: red !important;
}